section{
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
section.main{
    width: 500px;
    margin: 0 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
section .main .searchbox{
    position: relative;
    width: 100%;
    margin-top: 20px;
}
section .main .searchbox .query{
    width: 400px;
    padding: 15px;
    border: 1px solid grey;
    outline: none;
    font-size: 15px;
    border-radius: 30px;
    padding-left: 45px;
    padding-right: 45px;
    
}
section .main .searchbox .icon{
    position: absolute;
    top: 0;
    width: 450px;
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
    align-items: center;
    pointer-events: none;
}
.searchbutton{
    margin-top: 20px;
    margin-left: 180px;
    font-size: 20px;
    border-radius: 5px;
    border: 1px solid black;
    color: rgb(81, 165, 20);
    cursor: pointer;
    
}
